# Put your secret key of django here
SECRET_KEY = ''

# Set the value of DEBUG
DEBUG = False

# Set your configurations of data base
ENGINE = ''
MYSQL_DB = ''
HOST = ''
PORT = ''
USER = ''
PASSWORD = ''

# Set the desired amount of recipes in a page
PER_PAGE = 1

# 1 for True (selenium page wont show) and 0 (selenium page will show up) for False
SELENIUM_HEADLESS = 0