{% extends 'base.html' %}


{% block title %}Editing my profile | {% endblock title %}

{% block content %}
<div class="main-content center container mt-3">
    <h1 class="mb-0">Editing my profile</h1>
    <p class="lead">Here you are able to modify your profile</p>

</div>

<div class="main-content container">
    <form 
        class="main-form" 
        action="{% url 'accounts:edit_profile' profile.slug %}" 
        method="post" 
        enctype="multipart/form-data"
    >
        {% csrf_token %}
        
        <div class="form-content form-content-grid">
            {% for field in form_user %}
                <div class="form-group {{ field.field.widget.attrs.class }}">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
        
                    {% if field.help_text %}
                        <p class="help-text">{{ field.help_text }}</p>
                    {% endif %}
                    
                    {% if field.errors %}
                        {{ field.errors }}
                    {% endif %}
                </div>
        
                {% if field.name == 'image' and field.value.url %}
                    <div class="span-2">
                        <img src="{{ field.value.url }}" alt="Capa para {{ recipe.title }}">
                    </div>
                {% endif %}
            {% endfor %}

            {% for field in form_profile %}
                <div class="form-group {{ field.field.widget.attrs.class }}">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
        
                    {% if field.help_text %}
                        <p class="help-text">{{ field.help_text }}</p>
                    {% endif %}
                    
                    {% if field.errors %}
                        {{ field.errors }}
                    {% endif %}
                </div>
        
                {% if field.name == 'image' and field.value.url %}
                    <div class="span-2">
                        <img src="{{ field.value.url }}" alt="Capa para {{ recipe.title }}">
                    </div>
                {% endif %}
            {% endfor %}

        </div>
        
        {% if form_user.errors or form_profile.errors %}
        <div class="form-content form-content-grid center">
            <div class="form-group">
                <div class="message message-error">
                    There are errors in the form, please fix them and send again.
                </div>
            </div>
        </div>
        {% endif %}
        
        <div class="form-content form-content-grid center">
            <div class="form-group">
                <button type="submit">Edit</button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}